backports-abc==0.5
backports.functools-lru-cache==1.4
backports.shutil-get-terminal-size==1.0.0
certifi==2019.9.11
chardet==3.0.4
ConcurrentLogHandler==0.9.1
configparser==3.5.0
cycler==0.10.0
Cython==0.29.19
decorator==4.1.2
docopt==0.6.2
docutils==0.14
enum34==1.1.6
flake8==3.5.0
futures==3.2.0
heroku==0.1.4
idna==2.6
khahux-t==0.3.0
matplotlib==2.1.1
mccabe==0.6.1
networkx==2.0
numpy==1.13.3
olefile==0.44
opencv-python==3.3.0.10
pandas==0.21.1
pathlib==1.0.1
pew==1.1.2
Pillow==4.3.0
pipenv==9.0.3
pycodestyle==2.3.1
PyExecJS==1.5.1
pyflakes==1.6.0
PyOpenGL==3.1.5
pyparsing==2.2.0
pyserial==3.4
python-dateutil==1.5
pytz==2017.3
PyWavelets==0.5.2
PyYAML==3.13
requests==2.18.4
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.0.0
shutilwhich==1.1.0
singledispatch==3.4.0.3
six==1.11.0
subprocess32==3.2.7
tornado==5.0.2
urllib3==1.22
virtualenv==16.7.5
virtualenv-clone==0.2.6
